/* common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Noto Serif", serif;
}
.container{
    max-width: 1140px;
    margin: auto;
    /* background-color: lawngreen; */
}
.btn-primary{
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 10px 78px;
    background-color: #E95A08;
}
/* navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 120px;
}
.navbar ul{
    display: flex;
    gap: 48px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #8987A1;
}
.navbar ul li:nth-child(1) a {
    color: #252432;
    font-weight: 700;
}
.navbar ul li:nth-child(4) a{
    color: #000000;
}


/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.banner-left h1{
    font-size: 65px;
    font-weight: 700;
    color: #E95A08;
}
.banner-left p{
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.banner-right img{
    display: block;
}
/* plants section style */
.plant-tittel{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 49px;
}
.plant-tittel h1{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    padding-bottom: 16px;
}
.plant-tittel p{
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 126px;
}
.plant-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card{
    text-align: center;
}
.card h2{
    font-size: 22px;
    font-weight: 500;
    color: #111111;
    padding-top: 10px;
    padding-bottom: 5px;
}
.card p{
    font-size: 22px;
    font-weight: 700;
    color: #111111;
    padding-bottom: 10px;
}

/* flover-lover style */
.flower-lover{
    display: flex;
    gap: 60px;
    margin-top: 210px;
}
.flower-lover-left{
    position: relative;
}
.badge{
    position: absolute;
    top: -20%;
    right: -15%;
}
.badge img{
    height: 286px;
    width: 286px;
}
.flower-lover-right{
    padding: 38px 0;
}
.flower-lover-right h1{
    font-size: 50px;
    font-weight: 700;
    color: #000000;
    padding-bottom: 20px;
}
.flower-lover-right li{
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    
}

/* lates-deal */
.lates-deal{
    text-align: center;
    margin-bottom: 120px;
}
.lates-deal h1{
    font-size: 50px;
    font-weight: 700;
    color: #000000;
    margin-top: 133px;
    margin-bottom: 16px;
}
.lates-deal p{
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    width: 888px;
    height: 54px;
    margin: auto;
}

/* shop-now style */
.shop-now{
    display: flex;
    gap: 28px;
    margin-bottom: 120px;
}
.Bloom-Plant{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/deal-bloom.png);
    border-radius: 10px;
    width: 367px;
    height: 201px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-bottom: 25px;
}
.Ana-Plant{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/deal-ana.png);
    border-radius: 10px;
    width: 367px;
    height: 201px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.Bloom-Plant h1, .Ana-Plant h1{
    font-size: 20px;
    font-weight: 700;
}
.Bloom-Plant a, .Ana-Plant a{
    color: white;
    font-weight: 500;
     
}
.shop-now-right{
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
        url(../images/deal-zabo.png);
    border-radius: 10px;
    height: 423px;
    width: 753px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}
.shop-now-right h1{
    font-size: 40px;
    font-weight: 700;
}
.shop-now-right a{
    font-size: 28px;
    font-weight: 600;
}
.shop-now-right a{
    color: white;
}

/* join-section style */

.join-section{
    background-image: url(../images/news-letter-bg.png);
    margin: auto;
    width: 1440px;
    height: 533px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: white;
}
.join-bunch h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 23px;
}
.form{
    display: flex;
}
.form input[type="email"]{
    width: 644px;
    height: 50px;
    border: none;
}
.form input::placeholder{
    color: rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    font-size: 20px;
}


/* Responsive media query start */
/* mobile */
@media (max-width: 576px) {
    .container{
        margin: 67px 16px 28px 16px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar ul li:nth-child(1),
    .navbar ul li:nth-child(2),
    .navbar ul li:nth-child(3){
        display: none;
    }
    /* banner */
    .banner{
        flex-direction: column-reverse;
    }
    .banner-left h1{
        font-size: 24px;
        padding-top: 28px;
    }
    .banner-left p{
        font-size: 14px;
        padding-top: 13px;
    }
    .banner-right img{
        width: 100%;
    }
    /* plants */

    .plant-tittel h1{
        font-size: 24px;
        font-weight: bold;
    }
    .plant-tittel p{
        font-size: 14px;
        font-weight: 400;
        padding: 0;
    }
    .plant-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .card h2{
        font-size: 16px;
        font-weight: 500;
    }
    .card p{
        font-size: 16px;
        font-weight: 700;
    }
    .card img{
        width: 100%;
    }
    .btn-primary{
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        padding: 5px 0;
    }
    /* flower lover  */
    .flower-lover{
        flex-direction: column;
        padding: 0 20px;
    }
    .right-img{
        width: 100%;
    }
    .badge{
        display: none;
    }
    .lates-deal{
    text-align: center;
}
    .lates-deal h1{
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    margin-top: 133px;
    margin-bottom: 16px;
    }
    .lates-deal p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    width: 336px;
    height: 64px;
    margin: auto;
    }
    /* shop-now */
    .shop-now{
        flex-direction: column;
    }
    .shop-now-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .shop-now-right{
        width: 100%;
    }



    .join-section{
    background-image: url(../images/news-letter-bg.png);
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: white;
}
.join-bunch h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 23px;
}
.form{
    display: flex;
}
.form input[type="email"]{
    width:218px;
    height: 50px;
    padding: 0;
    border: none;
}
.form input::placeholder{
    color: rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    font-size: 20px;
}
.btn-primary{
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    color: white;
    background-color: #E95A08;
    border: none;
}
}